# venvs & build
venv/
.venv/
env/
detection/
dist/
build/
*.egg-info/

# python cache
__pycache__/
*.pyc

# model weights & big artifacts
checkpoints/
*.pth
*.pt
*.onnx
*.so

# data/media
data/
videos/
*.mp4
*.mov
*.avi
*.jpg
*.png
*.csv

# IDE
.vscode/
.idea/
